{% extends "layouts/base.html" %} {% block content %}
<div class="hidden">
{% block category_wrapper %}
    {% with categories=data.categories %}
        {{ block.super }}
    {% endwith%}
{% endblock category_wrapper %}
</div>


<!--promotions -->
<div id="default-carousel" class="relative w-full z-[1]" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-[600px] overflow-hidden rounded-lg">
    {% for item in data.promotions %}
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="{{item.photo_url}}"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="..."
      />
    </div>
    {% endfor %}
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    {% for item in data.promotions %}
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="{{forloop.counter0}}"
    ></button>
    {% endfor %}
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
<!--Categories-->
<div class="text-black-text">
  <h3 class="py-4 flex justify-center text-[28px] font-[600]">DANH MỤC SẢN PHẨM</h3>
  <div class="flex gap-2 justify-center">
    {% for item in data.categories %}
    <a href="danh-muc-san-pham/{{item.slug}}" class="">
      <img src="{{item.photo_url}}" alt="..." class="w-[190px] h-[190px] border object-fill mb-3" />
      <div class="flex text-center font-[600]">
        <span class="uppercase w-[190px] text-wrap text-[18px] text-[#0C9E1C]"
          >{{item.title}}<span class="text-[18px] text-black"> ({{item.num_of_product}})</span></span
        >
        <!--<a
        href="#"
        class="text-[#0C9E1C] font-[800] text-[20px] p-2 hover:cursor-pointer hover:bg-[#0C9E1C] hover:text-white"
        >Đọc tiếp</a
      >-->
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<!--Product-->
<div class="text-black-text animate-fade-left animate-once animate-duration-[2000ms]">
  <div class="py-4 flex justify-center text-[28px] font-[600]">SẢN PHẨM TIÊU BIỂU</div>
  <div class="grid grid-cols-4">
    {% for item in data.products %}
    <div class="w-[280px] py-4">
      <a href="/san-pham/{{item.slug}}">
        <img src="{{item.image}}" alt="..." class="h-[280px] object-fill mb-3" />
        <div class="flex flex-col text-center text-wrap">
          <span class="uppercase text-[18px]">{{item.name}}</span>
          <div class="py-6">
            <a
              href="/san-pham/{{item.slug}}"
              class="text-[#0C9E1C] rounded-[6px] w-[100px] font-[800] text-[18px] py-3 px-5 hover:cursor-pointer hover:bg-[#0C9E1C] hover:text-white"
              >Đọc tiếp</a
            >
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!--Paging-->
<div>{% include "includes/paging.html" with page_obj=data.page_obj %}</div>
{% endblock content %}
