{% extends "layouts/base.html" %} {% block content %}

<div class="hidden">
  {% block head_title %} 
    {% with head_title=data.name head_description=data.description %}
      {{ block.super }} 
    {% endwith %} 
  {% endblock head_title %} 
  {% block category_wrapper %} 
    {% with categories=data.categories %} 
      {{ block.super}}
    {%endwith%} 
  {% endblock category_wrapper %}
</div>
<div>{% include "includes/breadscrumb.html" with br1="Sản phẩm" br2=data.name %}</div>

<div class="py-10 text-black-text animate-fade-up animate-once">
  <div class="flex lg:flex-row sm:flex-col w-full">
    <div class="border-r-[3px] border-[#dcdcdc] sm:w-full lg:w-[60%] py-[10px] px-[20px]">
      <div id="controls-carousel" class="relative w-full" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          {% for item in data.images %}
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="{{item}}"
              class="absolute hover:cursor-pointer object-contain block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
              onclick="onClickViewFullSize(this)"
            />
          </div>
          {% endfor %}
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
          {% for item in data.images %}
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide {{forloop.counter}}"
            data-carousel-slide-to="{{forloop.counter0}}"
          ></button>
          {% endfor %}
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
    <div class="py-[10px] px-[20px] md:w-full lg:w-[40%]">
      <h4 class="uppercase sm:text-[18px] lg:text-[24px] font-bold">{{data.name}}</h4>
      <div class="sm:text-[16px] md:text-[20px]">{{data.short_description|safe}}</div>
    </div>
  </div>
  <div class="py-10">
    <div class="sm:text-[16px] md:text-[20px]">{{data.description|safe}}</div>
  </div>
</div>
{% if data.related_products|length > 0 %}
<h3 class="sm:text-[24px] lg:text-[30px] flex w-full justify-center">SẢN PHẨM TƯƠNG TỰ</h3>
<div class="flex flex-wrap justify-center gap-4 w-full">
  {% for item in data.related_products %}
  <div class="sm:w-[180px] lg:w-[240px] py-4">
    <a href="/san-pham/{{item.slug}}">
      <img src="{{item.image}}" alt="..." class="sm:h-[180px] lg:h-[240px] object-fill mb-3" />
      <div class="flex flex-col text-center text-wrap">
        <span class="uppercase sm:text-[12px] lg:text-[18px]">{{item.name}}</span>
        <div class="sm:py-4 md:py-6">
          <a
            href="/san-pham/{{item.slug}}"
            class="text-[#00ce1b] rounded-[6px] font-[800] sm:text-[14px] md:text-[18px] py-3 px-5 hover:cursor-pointer hover:bg-[#00ce1b] hover:text-white"
            >Đọc tiếp</a
          >
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>
<script>
  function onClickViewFullSize(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
  }
  </script>
{% endif %} {% endblock content %}
