{% extends "layouts/base.html" %} {% block content %}
<div class="hidden">
  {% block head_title %}
      {% with head_title=data.category_title head_description=data.category_title %}
          {{ block.super }}
      {% endwith%}
  {% endblock head_title %}
  {% block category_wrapper %}
      {% with categories=data.categories %}
          {{ block.super }}
      {% endwith%}
  {% endblock category_wrapper %}
  </div>

<div>{% include "includes/breadscrumb.html" with br1="Danh mục sản phẩm" br2=data.category_title %}</div>

<form class="max-w-sm pt-10">
  <select
    id="countries"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
  >
    <option selected>Lọc kết quả ...</option>
    <option value="US">Sắp xếp chữ cái A-Z</option>
    <option value="CA">Sắp xếp chữ cái Z-A</option>
    <option value="FR">Giá thấp nhất tới cao nhất</option>
    <option value="DE">Giá cao nhất tới thấp nhất</option>
  </select>
</form>

<div class="pt-6 text-black-text animate-fade-left animate-once animate-duration-[2000ms]">
  <div class="sm:flex flex-wrap justify-center gap-4 sm2:gap-[32px] lg:grid lg:grid-cols-4">
    {% for item in data.products %}
    <div class="product-block sm:w-[160px] md:w-[261px] py-4 hover:cursor-pointer">
      <a href="/san-pham/{{item.slug}}">
        <img
          src="{{item.image}}"
          alt="..."
          class="sm:h-[160px] md:h-[261px] object-fill mb-3"
        />
        <div class="transition-all delay-300 flex flex-col text-center text-wrap">
          <span class="uppercase sm:text-[14px] md:text-[18px]">{{item.name}}</span>
          <div class="py-6">
            <a
              href="/san-pham/{{item.slug}}"
              class="hidden-child animate-fade-up animate-once rounded-[20px] font-[600] sm:text-[12px] md:text-[15px] px-5 py-3 hover:cursor-pointer text-[#00ce1b] bg-[#e9e6ed] hover:bg-[#00ce1b] hover:text-white"
              >Đọc tiếp</a
            >
          </div>
        </div></a
      >
    </div>
    {% endfor %}
  </div>
</div>
<!--Paging-->
<div class="mt-[-20px]">{% include "includes/paging.html" with page_obj=data.page_obj %}</div>

<div class="text-[#5D5D5D]">
  <div class="w-full flex justify-center pt-8 text-black-text">
    <h2 class="text-[30px] text-[#5D5D5D] py-4">SẢN PHẨM LIÊN QUAN</h2>
  </div>
  <div class="sm:mx-[10px] sm2:mx-[30px] lg:mx-[80px] grid lg:grid-cols-4 sm:grid-cols-2 sm2:grid-cols-3 gap-4">
    {% for item in data.related_categories %}
    <div>
      <a href="/danh-muc-san-pham/{{item.slug}}">
        <img src="{{item.photo_url}}" alt="..." class="h-[194px] w-[291px] object-fill mb-3" />
        <div class="flex flex-col text-center text-wrap">
          <span class="uppercase sm:text-[14px] md:text-[18px]">{{item.title}}</span>
        </div>
      </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock content %}
