.product-block .hidden-child {
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0.3s linear, opacity 0.3s linear; */
}
.product-block:hover .hidden-child {
  visibility: visible;
  opacity: 1;
}

.cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
